.grid {
  width: 1vw;
  height: 1vh;
  margin: 0;

  /* make this unselectable! */
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;

  touch-action: manipulation;
  -ms-touch-action: manipulation;
}

.cell {
  transition: background-color 0.3s ease;

  background-color: rgb(237, 245, 225);
  border: #379683 solid;
  position: absolute;
  margin-top: 20vh;
}

.cellObjectsParent {
  width: 100%;
  height: 100%;

  margin: auto;
  vertical-align: middle;

  display: inline-flex;
}

.cellObject {
  width: 75%;
  height: 75%;

  margin-left: 10%;
  margin-top: 10%;
}

.obstacle {
  animation-name: obstacleAppearAnimation;
  animation-duration: 1s;
  animation-timing-function: linear;
}

@keyframes obstacleAppearAnimation {
  0% {
    width: 10%;
    height: 10%;

    margin-left: 40%;
    margin-top: 40%;
  }
  100% {
    width: 75%;
    width: 75%;

    margin-left: 10%;
    margin-top: 10%;
  }
}
